pandas
numpy
ipykernel
langchain
langsmith
dotenv
langchain_groq
langchain_core
fastapi
uvicorn
langserve
sse_starlette
langchain_community
langchain_chroma
langchain_huggingface
sentence-transformers
torch